################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TriviaServer
/TriviaServer/.vs/TriviaServer/v15
/TriviaServer/TriviaServer/obj
/TriviaServer/.vs/TriviaServer/DesignTimeBuild
/TriviaServer/TriviaServer/bin

